// blokit card variables
$card-color:                               #fff !default;
$card-primary-color:                       #1e87f0 !default;
$card-secondary-color:                     #222 !default;
$card-border-width:                        1px !default;
$card-border-color:                        rgba(0, 0, 0, .09) !default;
$card-border-accent:                       #2788ed !default;


/* card-style */
@import "card-3.scss";
@import "card-4.scss";
@import "card-8.scss";
@import "card-9.scss";
@import "card-10.scss";
@import "card-11.scss";
@import "card-12.scss";
@import "card-13.scss";
@import "card-14.scss";
@import "card-16.scss";
@import "card-18.scss";

/* card-paper-wrapper */
@import "card-paper.scss";