.in-client-logo-6 {
    .uk-tile {
        border-right: $client-border-width solid $client-border-color;
        padding: 10px 35px;
        &:last-child {
            border-right: 0;
        }
        img {
            opacity: 0.8;
            transition: 0.3s ease-in-out;
            &:hover {
                opacity: 1;
            }
        }
    }
}
@media (max-width: 960px) {
    .in-client-logo-6 {
        padding: 30px 35px;
        .uk-tile {
            border-right: 0;
            border-bottom: $client-border-width solid $client-border-color;
            &:last-child {
                border-bottom: 0;
            }
        }
    }
}