.in-client-logo-2 {
    .uk-tile {
        border: $client-border-width solid $client-border-color;
        img {
            opacity: 0.8;
            transition: 0.3s ease-in-out;
            &:hover {
                opacity: 1;
            }
        }
    }
}