/*---------------- [ blokit counter variables ] ----------------*/
$counter-color:                               #fff !default;
$counter-primary-color:                       #1e87f0 !default;
$counter-border-width:                        1px !default;
$counter-border-width-2:                      2px !default;
$counter-border-color:                        rgba(0, 0, 0, .09) !default;
$counter-border-accent:                       #2788ed !default;
$counter-border-radius:                       5px !default;
$counter-border-radius-2 :                    12px !default;


/* [ in-counter-1 ] */
.in-counter-1 {
    .uk-card-default {        
        background-color: $counter-color;
    }
    .uk-card-body {
        padding: 28px;
    }
}

/* [ in-counter-4 ] */
.in-counter-4 {
    .uk-card-default {
        border: $counter-border-width solid $counter-border-color;
        background-color: $counter-color;
    }
}

/* [ in-counter-6 ] */
.in-counter-6 {
    .uk-card-default {        
        border: $counter-border-width-2 solid $counter-border-color;
        border-radius: $counter-border-radius-2;
        background-color: $counter-color;
    }
}