/*---------------- [ blokit pricing variables ] ----------------*/
$pricing-border-width:                     2px !default;
$pricing-border-width-2:                   1px !default;
$pricing-border-radius:                    12px !default;
$pricing-border-radius-2:                  8px !default;
$pricing-border-color:                     rgba(0, 0, 0, .09) !default;
$pricing-border-color-hover:               rgba(0, 0, 0, .16) !default;
$pricing-border-color-featured:            #2788ed !default;
$pricing-background:                       #fff !default;
$pricing-background-hover:                 rgba(10, 5, 5, 0.01) !default;

$pricing-featured-background-hover:        lighten(#468efc, 35%) !default;

$pricing-title-color:                      #999 !default;
$pricing-price-color:                      #333 !default;
$pricing-label-radius:                     4px !default;
$pricing-icon-color:                       rgba(0, 0, 0, .1) !default;


/* [ in-pricing-1 ] */
.in-pricing-1 {    
    .uk-card {
        overflow: hidden;
        border-radius: $pricing-border-radius;
        border: $pricing-border-width solid $pricing-border-color;
        transition: all ease 600ms;        
    }
    .uk-card-default {
        background-color: $pricing-background;
        &:hover {
            background-color: $pricing-background-hover;
            border-color: $pricing-border-color-hover;
        }
    }
    .uk-card-header {
        h3 {
            margin: 12px 0 -20px;
            color: $pricing-title-color;
        }
        h4 {
            margin-bottom: 2px;
            color: $pricing-price-color;
        }
        .in-pricing-small {
            font-size: 24px;
            margin-right: -15px;            
            top: -3px;
            position: relative;
        }
        hr {
            margin-top: 40px;
            margin-bottom: -25px;
        }
        .uk-label {
            border-radius: $pricing-label-radius;
            background-color: $pricing-title-color;
        }
        .uk-card-badge {
            margin: 10px 8px 0 0;
        }
        i {
            color: rgba(0,0,0,0.1);
        }
    }
    .uk-card-body {
        .uk-list-bullet > li::before {
            background-image: none;
            font-size: 14px;
            font-family: 'Font Awesome 5 Free'; 
            font-weight: 900; 
            content: "\f00c";
            color: $pricing-border-color-featured;
            top: 1px;
            left: 4px;
        }
    }
    &.in-pricing-featured {
        .uk-card {
            border-color: $pricing-border-color-featured;
            &:hover {
                background-color: $pricing-featured-background-hover;
                border-color: $pricing-border-color-featured;
            }
        }
        .uk-card-header {
            .uk-label {
                background-color: $pricing-border-color-featured;
            }
        }
    }
}

/* [ in-pricing-2 ] */
.in-pricing-2 {
    .uk-card {
        transition: all ease 600ms;        
    } 
    .uk-card-default {
        background-color: rgba(0, 0, 0, .02);
        border-bottom-left-radius: $pricing-border-radius-2;
        border-bottom-right-radius: $pricing-border-radius-2;
        &:hover {
            background-color: #fff;
        }
    }
    .uk-card-header {
        border-top-left-radius: $pricing-border-radius-2;
        border-top-right-radius: $pricing-border-radius-2;
        border-top: 0;
        background-color: $pricing-title-color;
        h3 {
            margin: 12px 0 -20px;
            color: #fff;
        }
        h4 {
            margin-bottom: 2px;
            color: #fff;
        }
        .in-pricing-small {
            font-size: 24px;
            margin-right: -10px;
            top: -3px;
            position: relative;            
        }        
    }
    .uk-card-body {
        padding-top: 25px;
        box-shadow: inset 0px 0px 0px $pricing-border-width-2 $pricing-border-color;
        border-bottom-left-radius: $pricing-border-radius-2;
        border-bottom-right-radius: $pricing-border-radius-2;
        transition: all ease 600ms;
        h5, i {
            color: $pricing-title-color;
        }        
    }
    &.in-pricing-featured {
        .uk-card {
            &:hover {
                background-color: $pricing-featured-background-hover;
                border-color: $pricing-border-color-featured;
            }
        }
        .uk-card-header {
            background-color: $pricing-border-color-featured;
        }
        .uk-card-body {
            h5, i {
                color: $pricing-border-color-featured;
            }            
        }
    }
}

/* [ in-pricing-3 ] */
.in-pricing-3 {    
    .uk-card {
        overflow: hidden;
        border-radius: $pricing-border-radius-2;
        border: $pricing-border-width-2 solid $pricing-border-color;
        border-top: 0;
        transition: all ease 600ms;        
    }
    .uk-card-default {
        background-color: $pricing-background;
        &:hover {
            background-color: $pricing-background-hover;
            border-color: $pricing-border-color-hover;
        }
    }
    .uk-card-header {
        border-top: 4px solid $pricing-title-color;
        border-radius: $pricing-border-radius-2;
        h4 {
            margin-bottom: -5px;
            color: $pricing-price-color;
        }
        h6 {
            letter-spacing: 2px;
            margin: 12px 0 20px;
            color: $pricing-title-color;
        }
        .in-pricing-small {
            font-size: 24px;
            margin-right: -15px;            
            top: -27px;
            position: relative;
        }
        .uk-label {
            background: transparent;
            color: $pricing-title-color;
        }
    }
    &.in-pricing-featured {
        .uk-card {
            border-color: $pricing-border-color-featured;
            &:hover {
                background-color: $pricing-featured-background-hover;
                border-color: $pricing-border-color-featured;
            }
        }
        .uk-card-header {
            border-color: $pricing-border-color-featured;
            h6 {
                color: $pricing-border-color-featured;
            }
        }
        .uk-card-body {
            .uk-list-divider > li:nth-child(n+2) {
                border-color: lighten($pricing-border-color-featured, 15%);
            }
            .uk-button-default {
                border-color: lighten($pricing-border-color-featured, 15%);
                color: $pricing-border-color-featured;
                &:hover {
                    border-color: darken($pricing-border-color-featured, 5%);
                    color: darken($pricing-border-color-featured, 10%);
                }
            }
        }
    }
}

/* [ in-pricing-4 ] */
.in-pricing-4 {    
    .uk-card {
        overflow: hidden;
        border-radius: $pricing-border-radius-2;
        border: $pricing-border-width-2 solid $pricing-border-color;
        transition: all ease 600ms;        
    }
    .uk-card-default {
        background-color: $pricing-background;
        &:hover {
            background-color: $pricing-background-hover;
            border-color: $pricing-border-color-hover;
        }
    }
    .uk-card-header {
        h4 {
            margin-bottom: -5px;
            color: $pricing-price-color;
        }
        h6 {
            letter-spacing: 2px;
            color: $pricing-title-color;
        }
        .in-pricing-small {
            font-size: 24px;
            margin-right: -15px;            
            top: -18px;
            position: relative;
        }
    }
    .uk-card-body {
        padding-top: 20px;
        .uk-list-bullet > li::before {
            background-image: none;
            font-size: 14px;
            font-family: 'Font Awesome 5 Free'; 
            font-weight: 900; 
            content: "\f00c";
            color: $pricing-border-color-featured;
            top: 1px;
            left: 4px;
        }  
    }
    &.in-pricing-featured {
        .uk-card {
            border-color: $pricing-border-color-featured;
            &:hover {
                background-color: $pricing-featured-background-hover;
                border-color: $pricing-border-color-featured;
            }
        }
        .uk-card-header {
            border-color: $pricing-border-color-featured;
            .in-icon-wrap {
                background-color: $pricing-border-color-featured;
                color: #fff;
            }
            h6 {
                color: $pricing-border-color-featured;
            }
        }
    }
}

/* [ in-pricing-5 ] */
.in-pricing-5 {    
    .uk-card {
        overflow: hidden;
        border-radius: $pricing-border-radius;
        border: $pricing-border-width-2 solid $pricing-border-color;
        transition: all ease 600ms;        
    }
    .uk-card-default {
        background-color: $pricing-background;
        &:hover {
            background-color: $pricing-background-hover;
            border-color: $pricing-border-color-hover;
        }
    }
    .uk-card-header {
        h6 {
            color: #fff;
        }
        .in-pricing-small {
            font-size: 24px;
            margin-right: -15px;            
            top: -3px;
            position: relative;
        }
        .in-pricing-month {
            font-size: 24px;
            color: $pricing-title-color;
            margin-left: -10px;
        }
        hr {
            width: 60%;
            margin: 35px auto -20px auto;
        }
        .uk-card-badge {
            top: -26px;
            left: 0%;
            position: relative;
        }
        .uk-label {
            padding: 14px 25px 9px 25px;
            border-bottom-left-radius: 6px;
            border-bottom-right-radius: 6px;
            background-color: $pricing-title-color;
        }
    }
    &.in-pricing-featured {
        .uk-card {
            border-color: $pricing-border-color-featured;
            &:hover {
                background-color: $pricing-featured-background-hover;
                border-color: $pricing-border-color-featured;
            }
        }
        .uk-card-header {
            .uk-label {
                background-color: $pricing-border-color-featured;
            }
        }
    }
}