// blokit pricing variables
$pricing-border-width:                     2px !default;
$pricing-border-width-2:                   1px !default;
$pricing-border-radius:                    12px !default;
$pricing-border-radius-2:                  8px !default;
$pricing-border-color:                     rgba(0, 0, 0, .09) !default;
$pricing-border-color-hover:               rgba(0, 0, 0, .16) !default;
$pricing-border-color-featured:            #2788ed !default;
$pricing-background:                       #fff !default;
$pricing-background-hover:                 rgba(10, 5, 5, 0.01) !default;
$pricing-featured-background-hover:        lighten(#468efc, 35%) !default;
$pricing-title-color:                      #999 !default;
$pricing-price-color:                      #333 !default;
$pricing-label-radius:                     4px !default;
$pricing-icon-color:                       rgba(0, 0, 0, .1) !default;


/* pricing-style */
@import "pricing-1.scss";
@import "pricing-2.scss";
@import "pricing-3.scss";
@import "pricing-4.scss";
@import "pricing-5.scss";
@import "pricing-6.scss";