// footer variables
$footer-default-color:                        $base-default-color !default;
$footer-muted-color:                          $base-muted-color !default;
$footer-primary-color:                        $base-primary-color !default;
$footer-secondary-color:                      $base-secondary-color !default;
$footer-border-color:                         $base-border-color !default;
$footer-border-color-2:                       $base-border-color-2 !default;
$footer-border-width:                         $base-border-width !default;
$footer-border-width-2:                       $base-border-width-2 !default;
$footer-border-radius:                        $base-border-radius !default;
$footer-border-radius-2:                      $base-border-radius-2 !default;