<header>
    <!-- header content begin -->
    <div class="uk-section uk-padding-remove-vertical">        
        {{> module-navigation }}
    </div>
    <!-- header content end -->
</header>
{{#unlesspage 'index'}}
{{> component-breadcrumb }}
{{/unlesspage}}
