<header>
    <!-- header content begin -->
    <div class="uk-section uk-padding-remove-vertical">
        <div class="uk-container">
            <div class="uk-grid">
                <div class="uk-width-expand">
                    {{> module-logo }}
                </div>
                <div class="in-navbar-wrapper uk-width-auto uk-flex uk-flex-bottom">
                    {{> module-navigation }}
                </div>
            </div>
        </div>
    </div>
    <!-- header content end -->
</header>
