<footer>
    <!-- footer content begin -->
    <div class="uk-section uk-section-muted uk-margin-medium-top">
        <div class="uk-container">
            <div class="uk-grid" data-uk-grid>
                <div class="uk-width-1-1 uk-width-1-2@m">                    
                    <p class="uk-text-center uk-text-left@m">Blockit, a premade sections layout by <a class="uk-link-reset" href="https://www.indonez.com/" target="blank"><span class="uk-text-primary uk-text-bold">Indonez</span></a> built using UIkit 3</p>
                </div>
                <div class="uk-width-1-1 uk-width-1-2@m uk-visible@m">
                    <p class="uk-text-right@m">
                        <a class="uk-link-reset" href="https://getuikit.com/" target="blank"><i class="fab fa-uikit fa-lg uk-text-primary"></i></a>
                    </p>
                </div>
            </div>
        </div>        
    </div>
    <!-- footer content end -->
    {{> module-totop }}
</footer>
