<!-- section content begin -->
<div class="uk-section">
    <div class="uk-container">
        <div class="uk-grid uk-grid-large in-gstarted" data-uk-grid>
            <div class="uk-width-1-2@m">                
                <h2 class="uk-margin-small-top">Installation</h2>
                <p>First of all you need to download or clone Blockit from github repository. Go to your project directory with Blockit that you have download or clone, inside the directory install the package with your terminal.</p>
                <p class="uk-text-small uk-text-italic uk-text-muted">*Blockit using Gulp as task runner, it mandatory to install as global in your computer.</p>               
                <a href="https://github.com/Mudza09/blockit/releases" class="uk-button uk-button-primary uk-border-rounded uk-margin-small-top uk-margin-remove-bottom">Download Blockit</a>
                <p class="uk-text-small uk-margin-small-top uk-text-primary">Currently v{{content.version}}</p>                
            </div>
            <div class="uk-width-1-2@m">
                <i class="fas fa-terminal fa-sm in-icon-wrap small secondary-color uk-margin-remove-bottom"></i>
<pre><code class="language-git"># Install Gulp as global, skip if you already have it
npm install -g gulp-cli

# Clone the Blockit repo or download
git clone https://github.com/Mudza09/blockit.git

# Run install in your project directory
npm install
</code></pre>
            </div>
        </div>
    </div>
</div>
<!-- section content end -->
