<li class="uk-grid-small uk-flex uk-flex-center uk-flex-center uk-flex-middle" data-uk-grid>
    <div class="uk-width-1-2@m uk-text-center">
        <span class="uk-label uk-border-pill uk-margin-bottom">25% save for first month</span>
        <h1 class="uk-margin-remove">Ultimate platform to monitor your daily sales.</h1>
        <p class="uk-visible@">Lorem ipsum dolor sit amete consectetur adipisicing necessitatibu commodi.</p>
        <div class="uk-margin-top">
            <a href="#" class="uk-button uk-button-primary uk-border-rounded">Free trial</a>
            <a href="#" class="uk-button uk-button-text uk-margin-medium-left"><i class="fas fa-play fa-sm uk-text-primary uk-margin-small-right"></i>Watch video</a>
        </div>        
    </div>
    <div class="uk-width-3-4@m uk-visible@m">
        <img class="uk-width-1-1 uk-margin-top" src="{{root}}img/in-hero-img-3.svg" alt="hero-image">
    </div>
</li>
