<!-- section content begin -->
<div class="uk-section">
    <div class="uk-container">
        <div class="uk-grid uk-grid-large in-gstarted" data-uk-grid>
            <div class="uk-width-1-2@m">                
                <h2 class="uk-margin-small-top">Basic terminal command</h2>
                <p>There have several basic command in terminal that works with Blockit, first it is Build, Watch, and Minify</p>
                <ul class="uk-list uk-list-bullet">
                    <li><span class="uk-text-primary">Build</span> is for compile the raw files into production files</li>
                    <li><span class="uk-text-primary">Watch</span> is for developement mode that run live server</li>
                    <li><span class="uk-text-primary">Minify</span> is for minified all assets in your build files into smaller size</li>
                </ul>
            </div>
            <div class="uk-width-1-2@m">
                <i class="fas fa-terminal fa-sm in-icon-wrap small secondary-color uk-margin-remove-bottom"></i>
<pre><code class="language-git"># To build the production files
npm run build

# To run live server for development
npm run watch

# To minified all assets in build files
npm run minify
</code></pre>
            </div>
        </div>
    </div>
</div>
<!-- section content end -->
