<!-- section content begin -->
<div class="uk-section">
    <div class="uk-container">
        <div class="uk-grid-divider uk-grid-large uk-child-width-1-3@m in-blog-4" data-uk-grid>
            <div>
                <article class="uk-article">
                    <div class="uk-flex uk-flex-middle">
                        <div>
                            <i class="fas fa-video fa-lg uk-margin-small-right"></i>
                        </div>
                        <div>
                            <p class="uk-text-small uk-text-uppercase uk-text-muted uk-margin-remove">Video</p>
                        </div>
                    </div>
                    <h3 class="uk-margin-top uk-margin-remove-bottom">
                        <a href="#">This is one of the dustiest galaxies in the universe</a>
                    </h3>
                    <p class="uk-text-small uk-text-muted uk-margin-small-top">
                        Written by <a href="#">Jeffrey Reyes</a>
                        <span class="uk-margin-small-left uk-margin-small-right">•</span>
                        April 6, 2020
                    </p>
                    <p>NASA shared an image of one of the dustiest galaxies in the universe ...</p>
                    <a class="uk-button uk-button-text uk-text-small uk-text-uppercase uk-margin-top" href="#">Watch video <i class="fas fa-chevron-right fa-xs uk-margin-small-left"></i></a>
                </article>
            </div>
            <div>
                <article class="uk-article">
                    <div class="uk-flex uk-flex-middle">
                        <div>
                            <i class="fas fa-image fa-lg uk-margin-small-right"></i>
                        </div>
                        <div>
                            <p class="uk-text-small uk-text-uppercase uk-text-muted uk-margin-remove">Photos</p>
                        </div>
                    </div>
                    <h3 class="uk-margin-top uk-margin-remove-bottom">
                        <a href="#">Photos of Spring in Bloom Across the World</a>
                    </h3>
                    <p class="uk-text-small uk-text-muted uk-margin-small-top">
                        Written by <a href="#">Bryan Greene</a>
                        <span class="uk-margin-small-left uk-margin-small-right">•</span>
                        April 9, 2020
                    </p>
                    <p>Good news: spring is finally here! That may come as a surprise considering ...</p>
                    <a class="uk-button uk-button-text uk-text-small uk-text-uppercase uk-margin-top" href="#">See photos <i class="fas fa-chevron-right fa-xs uk-margin-small-left"></i></a>
                </article>
            </div>
            <div>
                <article class="uk-article">
                    <div class="uk-flex uk-flex-middle">
                        <div>
                            <i class="fas fa-newspaper fa-lg uk-margin-small-right"></i>
                        </div>
                        <div>
                            <p class="uk-text-small uk-text-uppercase uk-text-muted uk-margin-remove">News</p>
                        </div>
                    </div>
                    <h3 class="uk-margin-top uk-margin-remove-bottom">
                        <a href="#">34 things that shouldn't be this expensive</a>
                    </h3>
                    <p class="uk-text-small uk-text-muted uk-margin-small-top">
                        Written by <a href="#">Peter Jacobs</a>
                        <span class="uk-margin-small-left uk-margin-small-right">•</span>
                        April 12, 2020
                    </p>
                    <p>How much would you pay for a toothbrush? A board game? ...</p>
                    <a class="uk-button uk-button-text uk-text-small uk-text-uppercase uk-margin-top" href="#">Read story <i class="fas fa-chevron-right fa-xs uk-margin-small-left"></i></a>
                </article>
            </div>
        </div>
    </div>
</div>
<!-- section content end -->
