<!-- section content begin -->
<div class="uk-section">
    <div class="uk-container">
        <div class="uk-grid uk-flex uk-flex-middle" data-uk-height-viewport="expand: true">
            <div class="uk-width-1-1">
                <h1 class="uk-text-center">Welcome to blokit section collections</h1>
                <div data-uk-margin>
                    <a href="feature.html" class="uk-button uk-button-large uk-button-secondary">Feature sections</a>
                    <a href="#" class="uk-button uk-button-large uk-button-secondary">Team sections</a>
                    <a href="#" class="uk-button uk-button-large uk-button-secondary">Contact sections</a>
                    <a href="#" class="uk-button uk-button-large uk-button-secondary">CTA sections</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- section content end -->
