<li class="uk-flex uk-flex-middle in-hero-1" data-uk-grid>
    <div class="uk-width-1-2@m">
        <h2 class="uk-margin-remove">Integrated</h2>
        <h1 class="uk-margin-remove uk-text-primary">Sales application</h1>
        <p class="uk-visible@m">Lorem ipsum dolor sit amete consectetur adipisicing necessitatibu commodi laborum ipsum odio iusto qui nam excepturi.</p>
        <form class="uk-form">
            <input class="uk-input uk-width-1-2 uk-border-rounded" type="text" placeholder="Enter your email address">
            <button class="uk-button uk-button-primary uk-border-rounded">Get started</button>
        </form>
        <p>
            <small><strong>View a demo:</strong></small>
            <a href="#" class="uk-button uk-button-text uk-margin-left uk-text-small">Live demo</a>
            <a href="#" class="uk-button uk-button-text uk-margin-left uk-text-small"><i class="fas fa-play fa-xs uk-text-primary uk-margin-small-right"></i>Play video</a>
        </p>
    </div>
    <div class="uk-width-1-2@m">
        <img class="uk-width-1-1" src="{{root}}img/in-hero-img-1.svg" alt="hero-image">
    </div>
</li>
