<!-- sectio content begin -->
<div class="uk-section">
    <div class="uk-container">
        <div class="uk-grid">
            <div class="uk-width-1-1 uk-flex uk-flex-center">
                <div class="uk-width-3-4@m uk-margin-medium-bottom">
                    <h2 class="uk-margin-remove-bottom">Our Milestones</h2>
                    <p class="uk-text-lead uk-text-muted uk-margin-remove-top">We've been working hard to improve quality outcomes since 2009.</p>
                </div>
            </div>
            <div class="uk-width-1-1">
                <div class="in-timeline-2">
                    <div class="in-timeline-item">
                        <div class="in-timeline-icon uk-background-primary uk-border-circle uk-flex uk-flex-center uk-flex-middle">
                            <span uk-icon="star" class="uk-light"></span>
                        </div>
                        <div class="in-timeline-content uk-card uk-card-default uk-card-body uk-card-small uk-box-shadow-small uk-border-rounded">
                            <h3>Accusantium doloremque</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua minim veniam quis nostrud.</p>
                        </div>
                    </div>

                    <div class="in-timeline-item">
                        <div class="in-timeline-icon uk-background-primary uk-border-circle uk-flex uk-flex-center uk-flex-middle">
                            <span uk-icon="star" class="uk-light"></span>
                        </div>
                        <div class="in-timeline-content right uk-card uk-card-default uk-card-body uk-card-small uk-box-shadow-small uk-border-rounded">
                            <h3>Accusantium doloremque</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua minim veniam quis nostrud.</p>
                        </div>
                    </div>

                    <div class="in-timeline-item">
                        <div class="in-timeline-icon uk-background-primary uk-border-circle uk-flex uk-flex-center uk-flex-middle">
                            <span uk-icon="star" class="uk-light"></span>
                        </div>
                        <div class="in-timeline-content uk-card uk-card-default uk-card-body uk-card-small uk-box-shadow-small uk-border-rounded">
                            <h3>Accusantium doloremque</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua minim veniam quis nostrud.</p>
                        </div>
                    </div>

                    <div class="in-timeline-item">
                        <div class="in-timeline-icon uk-background-primary uk-border-circle uk-flex uk-flex-center uk-flex-middle">
                            <span uk-icon="star" class="uk-light"></span>
                        </div>
                        <div class="in-timeline-content right uk-card uk-card-default uk-card-body uk-card-small uk-box-shadow-small uk-border-rounded">
                            <h3>Accusantium doloremque</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua minim veniam quis nostrud.</p>
                        </div>
                    </div>

                    <div class="in-timeline-item">
                        <div class="in-timeline-icon uk-background-primary uk-border-circle uk-flex uk-flex-center uk-flex-middle">
                            <span uk-icon="star" class="uk-light"></span>
                        </div>
                        <div class="in-timeline-content uk-card uk-card-default uk-card-body uk-card-small uk-box-shadow-small uk-border-rounded">
                            <h3>Accusantium doloremque</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua minim veniam quis nostrud.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- section content end -->
