<!-- section content begin -->
<div class="uk-section">
    <div class="uk-container">
        <div class="uk-grid uk-grid-large uk-text-center" data-uk-grid>
            <div class="uk-width-1-2@m">
                <i class="fas fa-box-open fa-5x"></i>
                <h2 class="uk-margin-top">Blokit heading 2 feature</h2>
                <p>Adipisci sed quia numquam eius modi tempora incidunt ut labore et dolore consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt magnam aliquam quaerat voluptatem nostrum exercitationem.</p>                
            </div>
            <div class="uk-width-1-2@m">
                <i class="fas fa-bullhorn fa-5x"></i>
                <h2 class="uk-margin-top">Blokit heading 2 feature</h2>
                <p>Adipisci sed quia numquam eius modi tempora incidunt ut labore et dolore consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt magnam aliquam quaerat voluptatem nostrum exercitationem.</p>
            </div>
        </div>
    </div>
</div>
<!-- section content end -->
