<li class="uk-flex uk-flex-right uk-flex-middle" data-uk-grid>
    <img src="{{root}}img/in-hero-img-2.svg" alt="slide-img" data-uk-cover>
    <div class="uk-width-1-2@m in-z-index top">
        <h1 class="uk-margin-remove">Bill payable automation</h1>
        <h1 class="uk-margin-remove">80% faster bill pay app</h1>
        <p class="uk-visible@m">Enim ipsam voluptatem quia voluptas sit aspernatur aut oditautu fugit sed quia consequuntur magni dolores eos quimas ratione nemo.</p>
        <div class="uk-margin-medium-top uk-margin-bottom">
            <a href="#" class="uk-button uk-button-primary uk-border-rounded">Get started</a>
            <a href="#" class="uk-button uk-button-text uk-text-primary uk-margin-left">Download whitepaper<i class="fas fa-arrow-right fa-sm uk-margin-small-left"></i></a>
        </div>
        <div class="uk-margin-medium-top">
            <a href="#" class="uk-button uk-button-text"><i class="fab fa-twitter fa-lg uk-margin-small-right"></i>Share on Twitter</a>
            <a href="#" class="uk-button uk-button-text uk-margin-left"><i class="fab fa-facebook-square fa-lg uk-margin-small-right"></i>Share on Facebook</a>
        </div>
    </div>
</li>
