<!-- section content begin -->
<div class="uk-section uk-padding-small">
    <div class="uk-container">
        <div class="uk-grid" data-uk-height-viewport="expand: true">
            <div class="uk-width-1-1 uk-flex uk-flex-center uk-flex-middle">
                <div class="uk-width-3-4">
                    <div class="uk-child-width-1-2@m uk-child-width-1-1@s" data-uk-grid>
                        <div class="uk-text-center@s">
                            <img src="{{root}}img/404.svg" data-src="{{root}}img/in-404.svg" width="400" alt="404-error" data-uk-img>
                        </div>
                        <div class="uk-text-center uk-text-left@m">
                            <h1 class="uk-heading-medium uk-margin-medium-top in-margin-remove-top@s uk-margin-remove-bottom">Oops!</h1>
                            <p class="uk-text-lead uk-margin-small-top">The page you're looking for doesn't exist, or was loaded incorrectly.</p>
                            <a href="{{root}}" class="uk-button uk-button-default uk-border-rounded in-margin-small-top@s">Back to homepage <i class="fas fa-chevron-right fa-xs uk-margin-small-left"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- section content end -->
