<!-- section content begin -->
<div class="uk-section">
    <div class="uk-container">
        <div class="uk-child-width-1-3@m in-blog-3" data-uk-grid>
            <div>
                <article class="uk-card uk-card-default uk-card-body uk-box-shadow-small uk-border-rounded">                    
                    <div class="uk-flex uk-flex-middle">
                        <a href="#"><span class="uk-label uk-border-pill">Travels</span></a>
                        <div class="uk-margin-left">
                            <i class="fas fa-calendar-alt fa-xs"></i>
                        </div>
                        <div>
                            <span class="uk-text-small uk-text-uppercase uk-text-muted uk-margin-small-left">April 7, 2020</span>
                        </div>
                    </div>
                    <h3 class="uk-margin-medium-top">
                        <a href="#">Monaco launches now tourism campaign</a>
                    </h3>
                    <p>With more than three billion people around the world under lockdown ...</p>
                    <a href="#" class="uk-button uk-button-text uk-margin-top">Read story <i class="fas fa-chevron-right fa-xs uk-margin-small-left"></i></a>
                </article>
            </div>
            <div>
                <article class="uk-card uk-card-default uk-card-body uk-box-shadow-small uk-border-rounded">
                    <div class="uk-flex uk-flex-middle">
                        <a href="#"><span class="uk-label uk-border-pill">Startups</span></a>
                        <div class="uk-margin-left">
                            <i class="fas fa-calendar-alt fa-xs"></i>
                        </div>
                        <div>
                            <span class="uk-text-small uk-text-uppercase uk-text-muted uk-margin-small-left">April 11, 2020</span>
                        </div>
                    </div>
                    <h3 class="uk-margin-medium-top">
                        <a href="#">50 rising startups in Southeast Asia</a>
                    </h3>
                    <p>Which are the startups that are on the path to becoming the next big ...</p>
                    <a href="#" class="uk-button uk-button-text uk-margin-top">Read story <i class="fas fa-chevron-right fa-xs uk-margin-small-left"></i></a>
                </article>
            </div>
            <div>
                <article class="uk-card uk-card-default uk-card-body uk-box-shadow-small uk-border-rounded">
                    <div class="uk-flex uk-flex-middle">
                        <a href="#"><span class="uk-label uk-border-pill">Investments</span></a>
                        <div class="uk-margin-left">
                            <i class="fas fa-calendar-alt fa-xs"></i>
                        </div>
                        <div>
                            <span class="uk-text-small uk-text-uppercase uk-text-muted uk-margin-small-left">April 14, 2020</span>
                        </div>
                    </div>
                    <h3 class="uk-margin-medium-top">
                        <a href="#">Sony buys $400m stake in China’s Bilibili</a>
                    </h3>
                    <p>After a series of previous projects together, Sony has secured a ...</p>
                    <a href="#" class="uk-button uk-button-text uk-margin-top">Read story <i class="fas fa-chevron-right fa-xs uk-margin-small-left"></i></a>
                </article>
            </div>
        </div>
    </div>
</div>
<!-- section content end -->
