<!-- section content begin -->
<div class="uk-section">
    <div class="uk-container">
        <div class="uk-child-width-1-3@m in-blog-4" data-uk-grid>
            <div>
                <article class="uk-article">
                    <img class="uk-border-rounded" src="{{root}}img/in-blog-image-7.jpg" alt="sample-image">
                    <h3 class="uk-margin-top uk-margin-remove-bottom">
                        <a href="#">Investors bet on a quiet tech revolution in Europe</a>
                    </h3>
                    <p class="uk-text-small uk-text-muted uk-margin-small-top">
                        Written by <a href="#">Timothy Watkins</a>
                        <span class="uk-margin-small-left uk-margin-small-right">•</span>
                        April 3, 2020
                    </p>
                    <p>It's not banking or mining shares, but rather technology stocks, that have come up ...</p>
                    <a class="uk-button uk-button-text uk-margin-top" href="#">Continue reading <i class="fas fa-chevron-right fa-xs uk-margin-small-left"></i></a>
                </article>
            </div>
            <div>
                <article class="uk-article">
                    <img class="uk-border-rounded" src="{{root}}img/in-blog-image-8.jpg" alt="sample-image">
                    <h3 class="uk-margin-top uk-margin-remove-bottom">
                        <a href="#">Dollar near flat after Fed's Dudley, U.S. data deflate rise</a>
                    </h3>
                    <p class="uk-text-small uk-text-muted uk-margin-small-top">
                        Written by <a href="#">Evelyn Mason</a>
                        <span class="uk-margin-small-left uk-margin-small-right">•</span>
                        April 7, 2020
                    </p>
                    <p>The dollar was flat on Friday as a Federal Reserve official's seemingly dovish ...</p>
                    <a class="uk-button uk-button-text uk-margin-top" href="#">Continue reading <i class="fas fa-chevron-right fa-xs uk-margin-small-left"></i></a>
                </article>
            </div>
            <div>
                <article class="uk-article">
                    <img class="uk-border-rounded" src="{{root}}img/in-blog-image-9.jpg" alt="sample-image">
                    <h3 class="uk-margin-top uk-margin-remove-bottom">
                        <a href="#">Brexit effects may reflect in business surveys</a>
                    </h3>
                    <p class="uk-text-small uk-text-muted uk-margin-small-top">
                        Written by <a href="#">Scott Baker</a>
                        <span class="uk-margin-small-left uk-margin-small-right">•</span>
                        April 14, 2020
                    </p>
                    <p>In the week after Britain formally notified the European Union of its intention to ...</p>
                    <a class="uk-button uk-button-text uk-margin-top" href="#">Continue reading <i class="fas fa-chevron-right fa-xs uk-margin-small-left"></i></a>
                </article>
            </div>
        </div>
    </div>
</div>
<!-- section content end -->
