<!-- section content begin -->
<div class="uk-section">
    <div class="uk-container">
        <div class="uk-grid uk-grid-large in-gstarted" data-uk-grid>
            <div class="uk-width-1-2@m">                
                <h2 class="uk-margin-small-top">Starter template</h2>
                <p>Be sure you already made starter template like this inside <span class="uk-text-primary">"pages"</span> directory with <span class="uk-text-primary">".hbs"</span> extension. Between <span class="uk-text-primary">"main"</span> tag you can paste any premade sections that available in Section lists.</p>
                <p class="uk-margin-remove-bottom">Have a bug or a feature request?</p>
                <a href="https://github.com/Mudza09/blockit/issues/new" class="uk-button uk-button-primary uk-border-rounded uk-margin-small-top">Open ticket here</a>
            </div>
            <div class="uk-width-1-2@m">
                <i class="fas fa-code fa-sm in-icon-wrap small secondary-color uk-margin-remove-bottom"></i>
<pre><code class="language-js-templates">---
layout: default
---

&amp;lt;main&amp;gt;

&amp;lt;/main&amp;gt;
</code></pre>
            </div>
        </div>
    </div>
</div>
<!-- section content end -->
