<!-- section content begin -->
<div class="uk-section">
    <div class="uk-container">
        <div class="uk-grid uk-flex uk-flex-center">
            <div class="uk-width-3-4@m">
                <h2 class="uk-margin-bottom">Write a comment</h2>
                <div id="disqus_thread"></div>                
            </div>
        </div>
    </div>
</div>
<!-- section content end -->
