//
// Component: Variables
//
// ========================================================================


// Global variables
// ========================================================================

//
// Typography
//
$global-font-family:                             'Nunito', sans-serif !default;
$global-font-size:                               17px !default;
$global-line-height:                             1.588 !default;      // 24px

//
// Colors
//

//
// Backgrounds
//

//
// Borders
//

//
// Spacings
//

//
// Controls
//

//
// Z-index
//