// blokit hero variable
$hero-color:                               #fff !default;
$hero-primary-color:                       #1e87f0 !default;
$hero-border-width:                        1px !default;
$hero-border-color:                        rgba(0, 0, 0, .09) !default;
$hero-border-accent:                       #2788ed !default;
$hero-border-radius:                       5px !default;


/* hero-style */
@import "hero-1.scss";