<!-- section content begin -->
<div class="uk-section">
    <div class="uk-container">
        <div class="uk-grid uk-flex uk-flex-center">
            <div class="uk-width-1-1">
                <div id="app"></div>
            </div>
        </div>
    </div>
</div>
<!-- section content end -->
