<!-- section content begin -->
<div class="uk-section">
    <div class="uk-container">
        <div class="uk-grid-large" data-uk-grid>
            <div class="uk-width-1-2@m">
                <div class="uk-inline uk-light uk-margin-small-bottom">
                    <img class="uk-border-rounded uk-width-1-1" data-src="{{root}}img/in-gallery-image-12.jpg" alt="test-video" width="533" height="355" data-uk-img>
                    <div class="uk-position-center">
                        <a href="#link" class="uk-link-reset" data-uk-toggle>
                            <div class="in-play-button"></div>
                            <i class="fas fa-play fa-3x"></i>
                        </a>
                    </div>
                    <div class="uk-flex-top" data-uk-modal>
                        <div class="uk-modal-dialog uk-width-auto uk-margin-auto-vertical in-iframe">
                            <button class="uk-modal-close-outside" type="button" data-uk-close></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="uk-width-1-2@m">
                <div class="uk-inline uk-light uk-margin-small-bottom">
                    <img class="uk-border-rounded uk-width-1-1" data-src="{{root}}img/in-gallery-image-11.jpg" alt="test-video" width="533" height="355" data-uk-img>
                    <div class="uk-position-center">
                        <a href="#link" class="uk-link-reset" data-uk-toggle>
                            <div class="in-play-button"></div>
                            <i class="fas fa-play fa-3x"></i>
                        </a>
                    </div>
                    <div class="uk-flex-top" data-uk-modal>
                        <div class="uk-modal-dialog uk-width-auto uk-margin-auto-vertical in-iframe">
                            <button class="uk-modal-close-outside" type="button" data-uk-close></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- section content end -->
