// blokit faq variables
$faq-color:                                     #fff !default;
$faq-primary-color:                             #1e87f0 !default;
$faq-border-width:                              1px !default;
$faq-border-width-2:                            2px !default;
$faq-border-color:                              rgba(0, 0, 0, .09) !default;
$faq-border-accent:                             #2788ed !default;
$faq-border-radius:                             5px !default;
$faq-border-radius-2 :                          12px !default;


/* faq-style */
@import "faq-1.scss";
@import "faq-2.scss";
@import "faq-3.scss";
@import "faq-4.scss";
@import "faq-5.scss";