// blokit navigation variables
$navigation-color:                                     #fff !default;
$navigation-primary-color:                             #1e87f0 !default;
$navigation-border-width:                              1px !default;
$navigation-border-width-2:                            2px !default;
$navigation-border-color:                              rgba(0, 0, 0, .09) !default;
$navigation-border-accent:                             #2788ed !default;
$navigation-border-radius:                             5px !default;
$navigation-border-radius-2 :                          12px !default;


/* main-navigation */
@import "main-nav.scss";

/* mobile-navigation */
@import "mobile-nav.scss";

/* sticky-navigation */
@import "sticky-nav.scss";


