// blokit timeline variables
$timeline-color:                               #fff !default;
$timeline-primary-color:                       #1e87f0 !default;
$timeline-secondary-color:                     #222 !default;
$timeline-border-width:                        1px !default;
$timeline-border-color:                        rgba(0, 0, 0, .09) !default;
$timeline-border-accent:                       #2788ed !default;


/* card-style */
@import "timeline-1.scss";