.in-widget-category {
    color: inherit;
}

.in-widget-popular {
    color: inherit;
}

.in-widget-archive {
    color: inherit;
}

.in-widget-tag {
    color: inherit;
}

.in-widget-category li a,
.in-widget-popular li a,
.in-widget-archive li a {
    color: inherit;
}

.in-widget-category li a:hover,
.in-widget-popular li a:hover,
.in-widget-archive li a:hover {
    color: inherit;
}