.blockit-html-color {
    color: #e75c2e;
}
.blockit-css-color {
    color: #2d9ed9;
}
.blockit-js-color {
    color: #efd835;
}
.blockit-uikit-color {
    color: #318fb7;
}
.blockit-sass-color {
    color: #c66396;
}
.blockit-gulp-color {
    color: #e3464c;
}