.in-testimoni-6 {    
    .fa-star {
        color: $testimoni-star-color;
        font-size: $testimoni-star-size;
        position: relative;
        top: 16px;
    }
    @media (max-width: 960px) {
        .uk-float-right {
            margin-bottom: -22px;
        }  
        .fa-star {
            top: -26px;
            left: 64px;
        }
    }
}