.in-mobile-nav {
    .uk-button {
        font-size: 20px;
        padding: 0 15px;
    }
}
.uk-modal-close-full {
    font-size: 20px;
    padding: 12px 16px;
    background-color: $navigation-default-color;
    border: $navigation-border-width solid $navigation-border-color;
    border-radius: $navigation-border-radius;
    top: 18px;
    right: 18px;
}
.uk-nav-default {
    margin-top: -40px;
    li {
        a {
            font-size: 24px;
        }
    }
}
.uk-nav-sub {
    li {
        a {
            font-size: 18px;
            i {
                margin-left: 8px;
                font-size: 13px;
            }
        }
    }    
}