<!-- module breadcrumb begin -->
<div class="uk-section uk-section-xsmall uk-section-primary">
    <div class="uk-container">
        <div class="uk-grid">
            <div class="uk-width-1-1 in-breadcrumb">                
                <ul class="uk-breadcrumb">
                    <li><a href="{{root}}index.html">Home</a></li>
                    {{#ifpage 'blog-article'}}
                    <li><a href="#">Sample pages</a></li>
                    <li class="uk-visible@m"><span>Blog article</span></li>
                    {{/ifpage}}
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- module breadcrumb end -->
