<!-- section content begin -->
<div class="uk-section uk-section-xsmall uk-section-primary">
    <div class="uk-container">
        <div class="uk-grid">
            <div class="uk-width-1-2@m in-breadcrumb">                
                <ul class="uk-breadcrumb">
                    <li><a href="{{root}}index.html">Home</a></li>
                </ul>
            </div>
            <div class="uk-width-1-2@m uk-text-right@m in-margin-small-top@s">                
                <a class="uk-button uk-button-text uk-margin-medium-right" href="{{root}}404.html">404 error<i class="fas fa-exclamation-circle uk-margin-small-left"></i></a>
                <a class="uk-button uk-button-text" href="{{root}}signin.html">Sign in<i class="fas fa-sign-in-alt uk-margin-small-left"></i></a>
            </div>
        </div>
    </div>
</div>
<!-- section content end -->
