<!-- module breadcrumb begin -->
<div class="uk-section uk-section-xsmall uk-section-primary">
    <div class="uk-container">
        <div class="uk-grid">
            <div class="uk-width-1-1 in-breadcrumb">                
                <ul class="uk-breadcrumb"></ul>
            </div>
        </div>
    </div>
</div>
<!-- module breadcrumb end -->
