// blokit team variables
$team-color:                               #fff !default;
$team-primary-color:                       #1e87f0 !default;
$team-secondary-color:                     #222 !default;
$team-border-width:                        1px !default;
$team-border-color:                        rgba(0, 0, 0, .09) !default;
$team-border-accent:                       #2788ed !default;


/* card-style */
@import "team-6.scss";